@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
