@import "src/assets/styles/utils/vars";
@import "src/assets/styles/utils/media-query";

.app {
  display: grid;
  grid-template-areas:
            "header"
            "main"
            "footer";
  grid-template-rows: 80px 1fr 127px;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    grid-template-rows: 48px 1fr 127px;
  }
}
